<section class="text-center py-16 bg-purple-800 text-white">
  <h2 class="text-4xl font-bold mb-4">Elaboración del Vino de Mortiño</h2>
  <p class="text-lg">
    Descubre el proceso artesanal que da vida a nuestras exquisitas creaciones.
  </p>
</section>

<section class="container mx-auto mt-8 p-8 bg-white shadow-lg">
  <div class="mb-8">
    <h3 class="text-2xl font-bold mb-4">
      Paso 1: Cosecha en las Faldas de los Ilinizas
    </h3>
    <p>
      En las pintorescas faldas de los Ilinizas, recolectamos cuidadosamente los
      mortiños, seleccionando solo los mejores frutos para garantizar la
      calidad.
    </p>
  </div>

  <div class="mb-8">
    <h3 class="text-2xl font-bold mb-4">
      Paso 2: Selección Manual de Mortiños
    </h3>
    <p>
      Nuestros expertos enológicos realizan una selección minuciosa, escogiendo
      a mano cada mortiño para asegurar la frescura y pureza de la cosecha.
    </p>
  </div>

  <div class="mb-8">
    <h3 class="text-2xl font-bold mb-4">
      Paso 3: Fermentación en Tinajas de Barro
    </h3>
    <p>
      Los mortiños seleccionados pasan por un proceso de fermentación en
      auténticas tinajas de barro, respetando las tradiciones locales y
      aportando matices únicos a nuestro vino.
    </p>
  </div>

  <div class="mb-8">
    <h3 class="text-2xl font-bold mb-4">
      Paso 4: Añejamiento en Barricas de Roble
    </h3>
    <p>
      La magia continúa en nuestras barricas de roble, donde el vino adquiere
      complejidad y elegancia durante el periodo de añejamiento, creando un
      producto excepcional.
    </p>
  </div>
</section>
