
.bg-image{
  background-image:url("../../../assets/images/imagenportada.jpg");
  background-repeat:no-repeat;
  background-size:100%;
  background-position-y: -400px;
  color:#ffffff;
}

@media screen and (max-width: 767px) {
  .bg-image{
    background-position-y:80px;

  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
 .bg-image{
  background-position-y:50px
 }
}
