<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-24">
  <h1 class="text-center text-5xl mb-5">Galería</h1>
  <div class="-m-1 flex flex-wrap md:-m-2 " data-te-lightbox-init>
    <div class="flex w-1/2 flex-wrap">
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="Trabajadores"
          class="block h-full w-full rounded-lg object-cover object-center cursor-zoom-in"
          src="../../../assets/images/imagen1.jpg" />
      </div>
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="Mortiño"
          class="block h-full w-full rounded-lg object-cover object-center cursor-zoom-in"
          src="../../../assets/images/imagen2.jpg" />
      </div>
      <div class="w-full p-1 md:p-2">
        <img
          alt="Transporte"
          class="block h-full w-full rounded-lg object-cover object-center cursor-zoom-in"
          src="../../../assets/images/imagen3.jpg" />
      </div>
    </div>
    <div class="flex w-1/2 flex-wrap">
      <div class="w-full p-1 md:p-2">
        <img
          alt="Fabricación"
          class="block h-full w-full rounded-lg object-cover object-center cursor-zoom-in"
          src="../../../assets/images/imagen4.jpg" />
      </div>
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="Páramo"
          class="block h-full w-full rounded-lg object-cover object-center cursor-zoom-in"
          src="../../../assets/images/imagen5.jpg" />
      </div>
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="Degustación"
          class="block h-full w-full rounded-lg object-cover object-center cursor-zoom-in"
          src="../../../assets/images/imagen6.jpg" />
      </div>
    </div>
  </div>
</div>

